body,
html {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 150%;
    width: 150%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: white;
}

.header {
    margin-bottom: 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 250px;
}

    .logo img {
        max-width: 100px;
    }

.main {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
}

/* Изменить для врот-ендера */
.table {
    color: black;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
}

.nav {
    text-align: left;
    margin-bottom: 20px;
}

    .nav h2 {
        color: #00bfa5;
    }

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.card {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

    .card:hover {
        background-color: #333;
        color: white;
    }

.icon img {
    max-width: 40px;
    margin-right: 10px;
}

.footer {
    margin-top: 250px;
}

.social {
    margin-bottom: 10px;
}

    .social a {
        margin: 0 5px;
    }

    .social img {
        max-width: 24px;
    }

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .card {
        flex-direction: row;
    }

    .icon img {
        max-width: 30px;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-width: 80px;
    }

    .card {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .icon img {
        max-width: 50px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .social img {
        max-width: 20px;
    }
}

header {
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.nav-links {
    position: absolute;
    padding-left: 400px;
    display: flex;
    gap: 30px;
}

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: color 0.3s;
    }

        .nav-links a:hover {
            color: #000; /* Tomato color for hover effect */
        }

main {
    padding: 20px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn {
    border-radius: 8px;
    background-color: #00bfa5; /* Зеленый */
    color: black;
}

    .add-btn:hover {
        background-color: #45a049;
    }

.edit-btn {
    border-radius: 8px;
    background-color: #00bfa5; /* Синий */
    color: black;
}

    .edit-btn:hover {
        background-color: #45a049; /* Зеленый */
    }

.delete-btn {
    border-radius: 8px;
    background-color: #00bfa5; /* Красный */
    color: black;
}

    .delete-btn:hover {
        background-color: #45a049; /* Зеленый */
    }

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 18px;
    min-width: 400px;
    background-color: #00bfa5;
}

thead tr {
    background-color: #00bfa5;
    color: white;
    text-align: left;
    font-weight: bold;
}

th,
td {
    padding: 12px 15px;
    color: white;
    background-color: #00bfa5;
}

tbody tr {
    border-bottom: 1px solid #00bfa5;
}
