@model CorporatePortal.Models.Entry

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEntry</title>
   
    <script src="~/js/site.js"></script>
</head>
<body>
    <video autoplay muted loop id="bgVideo">
        <source src="/photos/main3.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
    <div class="container">
        
        <div class="cross-icon-container">
            <a href="@Url.Action("Back")" class="close-button">&times;</a>
        </div>
<h4>Создание учёта проводок</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEntry" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                    <input asp-for="Date" class="form-control" type="date"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hours" class="control-label">Часы</label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="TaskId" class="control-label">Задача</label>
                @Html.DropDownList("TaskId", (SelectList)ViewBag.Tasks, "Выберите задачу", new { @class = "form-control" })
            </div>
            <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-primary" asp-action="CreateEntry" />
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
 
</body>



</html>
