<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>NORBIT тайм-менеджмент | Главная</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<video autoplay muted loop id="bgVideo">
		<source src="/photos/main3.mp4" type="video/mp4" />
		Your browser does not support HTML5 video.
	</video>
	<div class="container">
		<header class="header">
			<div class="logo">
				<img src="/photos/logon.png" alt="NORBIT" />
			</div>
			<h1>NORBIT тайм-менеджмент</h1>
		</header>

		<main class="main">
			<nav class="nav"></nav>
			<div class="content">
				<a asp-area=""
				   asp-controller="Home"
				   asp-action="ProjectAccounting"
				   class="card">
					<div class="icon">
						<img src="/photos/proekt.png" alt="Учет проектов" />
					</div>
					<span>Учет проектов</span>
				</a>
				<a
						<a
						asp-area=""
						asp-controller="Home"
						asp-action="TaskAccounting"
						class="card"
					>
						<div class="icon">
							<img src="/photos/zadacha.png" alt="Учет задач" />
						</div>
						<span>Учет задач</span>
					</a>
					<a
						<a
						asp-area=""
						asp-controller="Home"
						asp-action="PostingAccounting"
						class="card"
					>
						<div class="icon">
							<img src="/photos/provodka.png" alt="Учет проводок" />
						</div>
						<span>Учет проводок</span>
					</a>
			</div>
		</main>

		<footer class="footer">
			<div class="social">
				<a href="https://www.youtube.com/norbittv"><img src="/photos/youtube.png" alt="yt" /></a>
				<a href="#"><img src="/photos/vk1.png" alt="" /></a>
				<a href="#"><img src="/photos/telegram.png" alt="tg" /></a>
			</div>
			<p>&copy; 2024. Все права защищены.</p>
			
		</footer>
	</div>
</body>
</html>