@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
@if (Model != null && !string.IsNullOrEmpty(Model.RequestContent))
{
    <p class="text-danger">@Model.RequestContent</p>
}
else
{
    <p class="text-danger">Произошла неизвестная ошибка.</p>
}
<button onclick="window.history.back();" style="btn add-btn">Назад</button>